

{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="hero">
        <h2>Welcome to Utsav's Portfolio</h2>
        <h2>This pod is running on node: <span class="highlight">{{ node_name }}</span></h2>
        <a href="{{ url_for('about') }}" class="btn">Observability</a>
        <a href="https://www.utsavops.com/"" class="btn" target="_blank">Production Environment</a>
        <a href="https://dev.utsavops.com/" class="btn" target="_blank">Development Environment</a>
        <a href="https://staging.utsavops.com/" class="btn" target="_blank">Staging Environment</a>
    </div>
    
    <h3>Skills & Expertise</h3>
    <div class="skills">
        <div class="skill">Python</div>
        <div class="skill">Kubernetes</div>
        <div class="skill">Terraform</div>
    </div>
    
    <p>Dynamic View of Running Pods Supporting the Website's Infrastructure.</p>
    <table border="1">
        <thead>
            <tr>
                <th>Pod Name</th>
                <th>Namespace</th>
                <th>Status</th>
                <th>Node running Pod</th>
            </tr>
        </thead>
        <tbody>
            {% for pod in pods %}
            <tr>
                <td>{{ pod.name }}</td>
                <td>{{ pod.namespace }}</td>
                <td>{{ pod.status }}</td>
                <td>{{ pod.node_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}